cogs/__pycache__/admin.cpython-37.pyc
cogs/__pycache__/discord.cpython-37.pyc
.gitignore
cogs/__pycache__/encryption.cpython-37.pyc
cogs/__pycache__/events.cpython-37.pyc
cogs/__pycache__/fun.cpython-37.pyc
cogs/__pycache__/info.cpython-37.pyc
cogs/__pycache__/owner.cpython-37.pyc
cogs/__pycache__/stats.cpython-37.pyc
.vscode/settings.json
unused/music.py
cogs/__pycache__/mod.cpython-37.pyc
utils/__pycache__/data.cpython-37.pyc
utils/__pycache__/cache.cpython-37.pyc
utils/__pycache__/lists.cpython-37.pyc
utils/__pycache__/permissions.cpython-37.pyc
utils/__pycache__/http.cpython-37.pyc
utils/__pycache__/default.cpython-37.pyc
.env
config.json
